<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Detail Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="detail">
    <table id="products">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Manufacturer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iterStat:${products}">
            <th th:text="${iterStat.count}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.manufacturer}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>

</body>
</html>